/* src/app.css */
@import 'tailwindcss';

@import '@fontsource/fira-mono';

/* Hapus atau komentari gaya global kustom yang mungkin bertentangan */
/* Contoh:
:root {
	--font-body: ...;
}
body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-bg-1);
}
*/
