/* src/app.css */
@import 'tailwindcss';

@import '@fontsource/fira-mono';

/* Aktifkan dark mode berbasis class .dark di elemen html */
@custom-variant dark (&:where(.dark, .dark *));

/* (opsional) style global ringan */

:root {
	--sb-track: theme(colors.white);
	--sb-thumb: theme(colors.gray.300);
	--sb-size: 10px;
}
.dark {
	--sb-track: theme(colors.black);
	--sb-thumb: theme(colors.gray.500);
}

/* Firefox */
html {
	scrollbar-width: thin; /* auto | thin | none */
	scrollbar-color: var(--sb-thumb) var(--sb-track); /* thumb track */
}

/* WebKit (Chromium, Safari) */
*::-webkit-scrollbar {
	width: var(--sb-size);
	height: var(--sb-size);
}
*::-webkit-scrollbar-track {
	background: var(--sb-track);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--sb-thumb);
	border-radius: 9999px;
	border: 2px solid transparent; /* biar ada padding */
	background-clip: padding-box;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: theme(colors.gray.500);
}
.dark *::-webkit-scrollbar-thumb:hover {
	background-color: theme(colors.gray.500);
}

/* Saat .dark aktif, gunakan palette lebih gelap */
.dark .flatpickr-calendar {
	background: #0a0a0a;
	border-color: #374151;
	color: #e5e7eb;
}
.dark .flatpickr-months,
.dark .flatpickr-weekdays,
.dark .flatpickr-day {
	background: transparent;
	color: #e5e7eb;
}
.dark .flatpickr-day.today {
	border-color: #6366f1;
}
.dark .flatpickr-day.selected,
.dark .flatpickr-day.startRange,
.dark .flatpickr-day.endRange {
	background: #4f46e5;
	color: white;
}

/* Terang: bikin ikon agak gelap biar kontras */
input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert(0.2) contrast(1.2) opacity(0.9);
}

/* Gelap: bikin ikon jadi terang & lebih kontras */
.dark input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert(1) brightness(1.2) contrast(1.1) opacity(0.95);
}

body {
	min-height: 100%;
}
